p {
  color: #00f;
}

.container {
  position: relative;

  width: 150px;
  height: 30px;
  margin: 0;
  padding: 0;

  border: 0;
}

.field {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.icons-container {
  position: absolute;
  top: 5px;
  right: -10px;

  width: 30px;
  height: 30px;
}

.icon-search {
  position: relative;

  width: 50%;
  height: 50%;

  opacity: 1;
  border: 3px solid #c7d0f8;
  border-radius: 50%;
}

.icon-search::after {
  content: '';

  position: absolute;
  right: -2px;
  bottom: -9px;
  transform: rotate(-45deg);

  width: 4px;
  height: 10px;

  background-color: #c7d0f8;
  border-radius: 3px;
}
